{% extends "layout.html" %}

{% block list %}

<div class="col-md-6">
    <h1>Patients</h1>
    {% for patient in patients %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">In hospital: {{ 'Yes' if patient.inHospital else 'No' }} <i
                        class="fas fa-stethoscope"></i></small>
            </div>
            <h2>
                <a href="#" class="article-title" data-toggle="collapse" data-target="#pat{{ patient.wallet }}">{{patient.firstname}}
                    {{ patient.lastname }}</a>
            </h2>
            <div id="pat{{ patient.wallet }}" class="collapse">
                <p class="article-content">Pesel: {{ patient.pesel }} </p>
                {% if patient.inHospital %}
                <a href="#" data-toggle="modal" data-target="#endVisitId" style="float: left;"
                   onclick="openModalEndVisit('{{patient.wallet}}', '{{patient.firstname}}', '{{patient.lastname}}' )">End Visit&nbsp;<i
                        class="far fa-calendar-times"></i></a>
                {% endif %}
                {% if doctors %}
                <a href="#" data-toggle="modal" data-target="#addVisitId" style="float: right;"
                   onclick="openModalAddVisit('{{patient.wallet}}', '{{patient.firstname}}', '{{patient.lastname}}' )">Add Visit&nbsp;<i
                        class="far fa-id-badge"></i></a>
                {% endif %}
                <div style="margin-top: 50px;">
                {% for res in patient.residances %}
                <div class="article-metadata">
                    <small class="text-muted">Residance nr. {{res.resNo}}</small>
                </div>
                    {% for v in res.visits %}
                    <p class="article-content" style="font-weight:bold;">Visit nr. {{ v.visitNo }}, Date: {{ v.date }}</p>
                    <p class="article-content">Doctor: {{ v.doc }}</p>
                    <p class="article-content">Recommendations: {{ v.recommendation }}</p>
                    {% endfor %}
                {% endfor %}
                    </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>

<div class="col-md-6">
    <h1>Doctors</h1>
    {% for doctor in doctors %}

    <article class="media content-section">
        <div class="media-body">
            <h2>
                <a href="#" class="article-title" data-toggle="collapse" data-target="#doc{{ doctor.wallet }}">{{doctor.firstname
                    }} {{ doctor.lastname }}</a>
            </h2>
            <div id="doc{{ doctor.wallet }}" class="collapse">
                <p class="article-content">NPWZ: {{ doctor.doctorNPWZ }} </p>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock list %}